.content-area {
  width: 60%;
  height: 350px;
  margin-top: 5px;
  transition: all 0.6s ease-in;
}
.editors-container {
  transition: transform 0.6s ease-in;
}
.editors-container-minimize {
  transform: scale(0.8);
}
.content-area-minimize {
  width: 75%;
}
.history-action + .history-action {
  margin-left: 5px;
}
.editor-action + .editor-action {
  margin-left: 5px;
}
@media only screen and (max-width: 1040px) {
  .editors-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .editor-area + .editor-area {
    margin-top: 15px;
  }
}
